@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3 mt-3">
        <h4>Categories</h4>
        <div class="list-group">
            <a asp-action="Index" class="list-group-item list-group-item-action @ActiveHelper.Active(null,Model.SelectedCategoryId)">All Products</a>
            @foreach (Category category in Model.Categories)
            {
                <a asp-route-categoryId="@category.Id" class="list-group-item list-group-item-action @ActiveHelper.Active(category.Id,Model.SelectedCategoryId)">@category.CategoryName</a>
            }
        </div>
    </div>

    <div class="col-md-9 mt-3">
        <h4>Products</h4>
        <div class="row">

            @foreach (Product product in Model.Products)
            {
                <div class="col-md-4">
                    <img class="w-100" src="~/img/products/@product.ProductImage" />
                    <h5>@product.ProductName</h5>
                    <p>₺@product.ProductPrice.ToString("n2")</p>
                </div>
            }
        </div>
    </div>
</div>